---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/landing/Navbar.astro";
import Hero from "../components/landing/Hero.astro";
import About from "../components/landing/About.astro";
import Competitions from "../components/landing/Competitions.astro";
import Timeline from "../components/landing/Timeline.astro";
import Prize from "../components/landing/Prize.astro";
import Mentor from "../components/landing/Mentor.astro";
import Faq from "../components/landing/Faq.astro";
import Contact from "../components/landing/Contact.astro";
import Social from "../components/landing/Social.astro";
import Sponsor from "../components/landing/Sponsor.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <Competitions />
    <Timeline />
    <Prize />
    <Mentor />
    <Faq />
    <Contact />
    <Social />
    <Sponsor />
  </main>
</Layout>
